@import "Global.scss";

$item-height: 520px;
$item-banner-height: 350px;
$arrow-height: 80px;

.arrow {
  position: absolute;
  top: 200px;
  height: $arrow-height;
}

.project-carousel-section {
  flex: 1 1 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 1100px;
}

.carousel-inner {
  background-color: $beige;
  max-width: 800px;
}

.project-item {
  min-height: $item-height;

  .project-item-link {
    width: 100%;
    overflow-x: hidden;
  }
  
  .project-item-image {
    height: 400px;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
  }
  
  .project-text {
    height: 100%;
    width: 100%;
    padding: 10px 20px;

    .project-item-heading {
      padding: 5px 0;
      text-align: left;
      font-weight: bold;
      font-size: 2rem;
      color: $dark;
    }

    .project-item-description {
      font-size: 1.2rem;
      text-align: left;
      color: $dark;
    }
  }
}

.carousel-control-prev {
  opacity: 1;
}

.carousel-control-next {
  opacity: 1;
}

.carousel-indicators {
  top: -30px;
  z-index: 0;
}

.carousel-indicators li{
  transition: all 0.3s ease-in-out;
  border: 2px solid $dark;
  background-color: $beige;

  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.carousel-indicators .active {
  background-color: $dark;
}

.project-item-link::before {
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  content: '>> To the Project';
  color: $beige;
  background-color: $dark;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  opacity: 0;
  transition: .5s ease;
}

.project-item-link:hover::before {
  opacity: 1;
}
