#projects {
  background-color: #FFC300;
}

.projects-heading {
  margin: -30px 0 0 !important;
  background-color: #FFF;
  color: #000;
  clip-path: polygon(5% 13%, 91% 0, 100% 100%, 0 94%);
}

.projects-text{
  color: #CD6F00;
  text-align: center;
}