@import "Global";

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.skill-container {
  padding: 20px;
}

.skill-heading {
  outline: 5px dashed $dark;
}