<a routerLink="" class="flex flex-col items-center gap-1" (click)="playAnimation()">
  <div class="flex -space-x-8 items-center">
    @for (letter of letters; track letter.format) {
      <div class="relative h-20 w-20">
        <svg class="icon absolute h-20 w-20">
          <use [attr.xlink:href]="getSrcString(letter)" #letterImg></use>
        </svg>
      </div>
    }
  </div>
  <h1 class="sr-only">Jonathan Neuser-Schmitz</h1>
  <svg viewBox="0 0 398.13 16.38" class="w-64" aria-hidden="true"><use href="#name"/></svg>
</a>
