<div class="w-full flex flex-row gap-3 p-4 justify-end items-center">
  <a href="https://www.instagram.com/joscco96" target="_blank" rel="noopener noreferrer">
    <svg viewBox="0 0 100 100" class="w-8 h-8" aria-label="Instagram"><use href="#logos-logo_insta"/></svg>
  </a>
  <a href="https://github.com/joscco" target="_blank" rel="noopener noreferrer">
    <svg viewBox="0 0 100 100" class="w-8 h-8" aria-label="GitHub"><use href="#logos-logo_github"/></svg>
  </a>
  <a href="https://x.com/joscco96" target="_blank" rel="noopener noreferrer">
    <svg viewBox="0 0 100 100" class="w-8 h-8" aria-label="X"><use href="#logos-logo_x"/></svg>
  </a>
  <a href="https://de.linkedin.com/in/jonathan-neuser-schmitz-23b344234" target="_blank" rel="noopener noreferrer">
    <svg viewBox="0 0 100 100" class="w-8 h-8" aria-label="LinkedIn"><use href="#logos-logo_linkedin"/></svg>
  </a>
  <a href="https://joscco.itch.io/" target="_blank" rel="noopener noreferrer">
    <svg viewBox="0 0 100 100" class="w-8 h-8" aria-label="Itch.io"><use href="#logos-logo_itch"/></svg>
  </a>
</div>
